html, body {
    height: 100%;
    overflow: hidden;
  }

a{
    cursor: pointer;
}

.main-container {
    min-height: 100vh;
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    background:#F6F8FA;
}
.left-side{
    width: 20%;
}
.center{
    width: 60%;
    align-items: center;
    background: whitesmoke;
}
.right-side{
    width: 20%;
    display:flex;
    justify-content: space-around;
}
.search-string{
    justify-content: center;
    display: flex;
    background:#F6F8FA;
    border:1px solid black;
}
#searchBar{
    width: 300px;
    height: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
    border:1px solid;
}
.icons-nav{
    display: flex;
    justify-content: flex-end;
    margin: 10px 5px 5px 5px;
}
#calendar-ref{
    margin-right:10px;
}
#calendar-icon:hover,#plus-icon:hover,#checkMark:hover,#edit:hover{
    fill:gray;
}
.task{
    margin: 10px;
    background: #FEF8F8;
    border-radius: 42px;
    padding: 15px;
    
}
#taskText{
    text-align: center;
}
#taskFooter{
    display: flex;
    justify-content: space-between;
}
#checkMark{
    width: 25px;
    padding-bottom: 20px;
}
#edit{
    width: 25px;
    padding-bottom: 20px;
    margin-right: 5px;
}
#userImage{
    width: 50px;
    height: 50px;
}
.resultField{
    border: 2px solid black;
    display: flex;
    margin: 0px 150px 0px 150px;
}